<html>
    <head>
        <meta charset="UTF-8">
        <title>Configurações</title>
        <!-- https://electronjs.org/docs/tutorial/security#csp-meta-tag -->
        <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
        <link rel="stylesheet" type="text/css" href="../assets/styles/fonts.css">
        <link rel="stylesheet" type="text/css" href="../assets/styles/main.css">
    </head>
    <body>
        <div class="app-wrapper">
            <div class="form" id="config-form">
                <h1>Configurações</h1>
                <div class="form-row">
                    <label for="countdownTimer">Timeout:</label>
                    <input type="number" value="15" min="1" id="countdownTimer">
                </div>
                <div class="process-list" id="process-list">
                    <div class="alert">Nenhum programa listado.</div>
                </div>

                <div class="config-actions">
                    <button class="btn" id="btn-config-select">Listar programas</button>
                    <button class="btn" id="btn-config-apply" disabled>Aplicar</button>
                    <button class="btn" id="btn-config-close">Fechar</button>
                </div>
            </div>
        </div>

        <script src="../controllers/config.js"></script>
    </body>
</html>